
    <div class="row">
          <div class="col-sm-4" style="background-color:#918186c2;">  Address <br> 
            <div class="card-body">
              
                Mumbai,Hyderbad,Delhi,Jaipur,Maharastra, <br>
                Rajasthan,Kolkata
              
            </div>
           </div>
          <div class="col-sm-4" style="background-color: #918186c2;">  Social Network <br>
            <div class="card-body">
             <img src="./assets/images/insta.jpg" alt="no img" >
            </div>
            
        
            </div>
          <div class="col-sm-4" style="background-color:#918186c2;">  Contact details <br> 
            <div class="card-body">
             Name:T.Umarani <br>
             contact : +91-8754783219 <br>
             Email : Ishureddy333@gmail.com <br>
             Address: Hyderabad 
            </div>

            </div>

    </div>
      
    

