<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        body{
            background-image: url('./assets/images/bg img.jpg');
            height:300vh;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h1>About Tajmahal</h1>
    <p>The Taj Mahal is located on the right bank of the Yamuna River in a vast Mughal garden that encompasses nearly 17 hectares, 
        in the Agra District in Uttar Pradesh. It was built by Mughal Emperor Shah Jahan in memory of his wife Mumtaz Mahal with construction 
        starting in 1632 AD and completed in 1648 AD, with the mosque, the guest house and the main gateway on the south, the outer courtyard and 
        its cloisters were added subsequently and completed in 1653 AD. The existence of several historical and Quaranic inscriptions in Arabic 
        script have facilitated setting the chronology of Taj Mahal. For its construction, masons, stone-cutters, inlayers, carvers, painters, 
        calligraphers, dome builders and other artisans were requisitioned from the whole of the empire and also from the Central Asia and Iran.
         Ustad-Ahmad Lahori was the main architect of the Taj Mahal.</p><br>

         <p>Interesting fact: A shopping complex and hotel inspired by the Taj Mahal is being constructed in Dubai and is estimated to be four times larger in size.</p>
        
         <h1>About Redfort</h1>
         <p>One of the historical tourist places in India, the Red Fort was constructed over ten years from 1638 to 1648. 
             This fort was constructed when Shah Jahan shifted the capital from Agra to Delhi and it was then known as the Qila-e-Mubarak. 
             This octagonal fort is one of the most famous historical places in north India and is also the site where the President gives his speech on Independence Day.
              The Red fort is truly remarkable and one of the best historical places in India.</p><br>
            <p>Interesting fact: There is a cat’s head in one of the arches in order to ward off rats that once almost destroyed Hyderabad.</p>


           <h1>About Charminar</h1>
           <p>It was believed that Muhammad Quli Qutb Shah built the Charminar in 1591 to honor Allah. However in reality this historical tourist place in India was built to signify the end of plague in the city. 
               Legend has it that there is a secret tunnel from the monument to Golconda fort but it hasn’t been discovered till date.
                Each minaret of this monument has four stories and every arch has one clock.</p> <br>
                <p>Interesting fact: There is a cat’s head in one of the arches in order to ward off rats that once almost destroyed Hyderabad.</p>

           <h1>Victoria Memorial</h1>
           <p>The Victoria Memorial in Kolkata is one of the most historical tourist places in India and was built during the peak of the British era in India. 
               The then Viceroy Lord Curzon laid down the idea of this monument but its actual design was done by Sir William Emerson.</p><br>
             <p>Interesting fact: There are two sets of mysterious inscriptions on the monument. One is “VRI” which means Victoria Regina Imperatrix and the other is “Dieu Et Mon Droit”. 
                 The first means Victoria Queen and Empress and the latter means “God and my right”.</p>


           <h1>About Chhatrapati Shivaji Terminus </h1>
           <p>A UNESCO world heritage site, it features a Victorian-Gothic style of architecture. 
               It is a railway station of Mumbai, the capital of Maharashtra. Constructed in 1887, it is the headquarter of central railways.
                An iconic landmark of the financial hub of India, it looks timeless when compared with the rest of Mumbai. It is the place from where various long distance and short distance trains begin.</p><br>

            <p>Intersting fact: It was built to commemorate the 50th birthday of Queen Victoria and took 10 years to be completed</p>

           <h1> About Jantar Mantar</h1>
           <p>How can you not know about Jantar Mantar in Jaipur? It is the largest astronomical observatory in the world and one of the best historical places of India. 
               The place was built by Raja Sawai Madho Singh in the 18th century as he was a big fan of science.
                There are instruments in the observatory placed in a such a way that it tells you the position of heavenly bodies.</p><br>

            <p>Interesting fact: Jantar Mantar has the world’s largest sundial.</p>

           <h1>About Mehrangarh Fort</h1>
           <p>Commissioned by Rao Jodha in 1459, it is one of the biggest forts in India.
                There are 7 entrances in the complex which is nestled on a hill. Each gate was constructed at different times for different purposes. For example, 
                the Vijay Gate was built to mark the win of King Man Singh over Bikaner and Jaipur.
                There is a Rose palace and a Glass Palace within the complex. This fort has been featured in a number of Bollywood and Hollywood movies as well.</p><br>

           <p> Interesting fact: It is situated at an elevation of 410 m</p>


           <h1>About Amer Fort</h1>
           <p>Only 11 km from the Pink City Jaipur, Amer Fort is one of the most magnificent forts in India.
                Built by Maharaja Man Singh in 1592, it was truly the residence of kings. Another UNESCO site in the heart of Rajasthan. 
                Made of yellow and pink sandstone, it is an unforgettable sight. Over 5 thousand people visit this fort every day, making it one of the most visited places in Jaipur.</p><br>

            <p> fact: King Man Singh I was one of the most decorated generals of King Akbar
            Entry fee: Indian Adults INR 25, Indian Students INR 10, Foreigners INR 200</p>































</body>
</html>
