<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-secondary nav-tabs">   
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home" ><i class= "fa fa-home fa-fw"style='font-size:35px'></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/about">About</a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/learnmore">Learn more</a>
        </li> 
          <div class="right">
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/signup">Signup</a>
            </li>
          </div>
           
    </ul>
  </nav> 
  <router-outlet></router-outlet>
</body>
<div>
  <app-footer></app-footer>

</div>
</html>